html, body, div, article, aside, header, nav, ul, li, a, p, span, strong, em, footer, section, h1, h2, h3, h4 {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: Arial;
	font-size: 13px;
	color: #000;
}

/* very importat to have it*/

.clearfix:before, .clearfix:after {  content: "\0020"; display: block; height: 0; visibility: hidden;    } 
.clearfix:after { clear: both; }
.clearfix { zoom: 1; }

div, article, header, footer, section, aside, ul, li, h1, h2, h3, h4, h5, body {
	display: block;
	margin: 2%;
}


div#wrapper {
	width: 955px;
	height: auto;
	border: 1px solid gray;
	margin: 0 auto;
}

/*header*/
header {
	height: 150px;
}

header ul li {
    display: inline-block;
}

    header ul li a {
        padding: 10px;
        border-radius: 5px;
        border: 1px solid black;
        text-decoration: none;
        font-size: 20px;
        color: black;
    }

    /*sidebars*/
aside#left {
	width: 20%;
	border: 1px solid green;
	float: left;
	display: inline-block;
}

aside#right {
	width: 20%;
	border: 1px solid green;
	float: right;
	background-color: yellow;
	display: inline-block;
}

/*content*/
section {
	display: inline-block;
	width: 48%;
    min-height: 300px;
	height: auto;
	border: 1px solid red;
}
.post h3{
    margin: 0;
    float: left;
}
.post .date{
    float: right;
    margin: 0;
}
.post .author{
    float: left;
}
.post .numberOfViews{
    float: right;
}
.post {
    border-bottom: 1px solid #000;
    margin-bottom: 20px;
}
.post .readMore{
    float: right;
}
.clear:after{
    content: '';
    display: block;
    clear: both;
    zoom: 1;
}

/*footer*/
footer {
	height: 150px;
}

/*responsive design*/
@media (max-width: 960px) {
	div#wrapper {
		width: 100%
	}

	aside#right {
		float: left;
		clear: left;
	}
	
	section{
		width:72%;
	}
}

/* Registration Styling*/
form, h2 {
	color: white;
}

fieldset {
	border: 2px solid white;
	margin: 5px;
}

#submit-registration:enabled {
	color: green;
	margin: 5px;
	padding: 5px;
	border: 2px solid green;
	background: none;
	outline: none;
}

input {
	padding: 5px;
	margin-bottom: 5px;
	margin-right: 5px;
	outline: none;
}

span {
	color: white;
}

#submit-registration:disabled {
	color: white;
	margin: 5px;
	padding: 5px;
	border: 2px solid white;
	background: none;
	outline: none;
}





