@font-face {
    font-family: 'GlyphIcons';
    src: url('fonts/glyphicons-halflings-regular.eot'); /* IE9 Compat Modes */
    src: url('fonts/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('fonts/glyphicons-halflings-regular.woff2') format('woff2'), /* Super Modern Browsers */
    url('fonts/glyphicons-halflings-regular.woff') format('woff'), /* Pretty Modern Browsers */
    url('fonts/glyphicons-halflings-regular.ttf')  format('truetype'), /* Safari, Android, iOS */
    url('fonts/glyphicons-halflings-regular.svg#svgFontName') format('svg'); /* Legacy iOS */
}
html, body, div, article, aside, header, nav, ul, li, a, p, span, strong, em, footer, section, h1, h2, h3, h4 {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: Calibri, Tahoma, sans-serif;
	font-size: 13px;
	color: #000;
}
body{
    background: #333;
}
/* very importat to have it*/

.clearfix:before, .clearfix:after {  content: "\0020"; display: block; height: 0; visibility: hidden;    } 
.clearfix:after { clear: both; }
.clearfix { zoom: 1; }

div, article, header, footer, section, aside, ul, li, h1, h2, h3, h4, h5, body {
	display: block;
	/*margin: 2%;*/
}

#main{
    flex-grow: 1;
    width: 400px;
    order: 1;
    box-sizing: border-box;
    margin: 30px 30px 50px 30px;
}
div#wrapper {
    margin-top: 50px;
    background: #fff;
    display: flex;
    flex-direction: row;
    align-items: stretch;
    box-sizing: border-box;
    outline: 2px solid rgba(0,0,0,0.1);
}

/*header*/
header {
    text-transform: uppercase;
    background: #FF5E3A;
    border-bottom: 3px solid #e24d2f;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 9;
    text-align: left;
}
header .limiter{
    display: flex;
    flex-direction: row;
}
header ul li {
    display: inline-block;
}

    header ul li a {
        transition: background ease 0.2s;
        padding: 11px 17px;
        display: inline-block;
        text-decoration: none;
        font-size: 12pt;
        font-weight: bold;
        text-shadow: 1px 1px 0 #e24d2f;
        color: #fff;
    }
    header ul li a:hover {
        background: #f44f2e;
    }

    #greeting {
        margin-right: 20px;
        float: right;
    }

    #greeting,
    #greeting a {
        font-size: 12pt;
        line-height: 30pt;
        font-weight: bold;
        text-transform: none;
        color: #fff;
    }
    #greeting a {
        display:inline;
        text-decoration: underline;
    }
#main-menu{
    flex-grow: 1;
}

    /*sidebars*/

aside#right h3, aside#left h3{
    border-bottom: 2px solid #e6e6e6;
    font-size: 14pt;
    padding-bottom: 10px;
    margin-bottom: 15px;
    font-weight: normal;
    text-transform: uppercase;
    color: #333;
}
#main-menu ul{
    display: inline-block;
}
#logo {
    transition: all ease 0.5s;
    background: url('../imgs/logo.png') no-repeat;
    cursor: pointer;
    width: 124px;
    height: 36px;
    min-width: 124px;
    display: block;
    opacity: 1;
    margin-top: 2px;
    margin-right: 30px;
}
#logo:hover {
    opacity: 0.9;
}
#main-menu .icon{
    font-family: GlyphIcons;
    margin-right: 6px;
    color: #ffd5b4;
}
#noty-container li{
    margin-bottom: 20px;
}
aside#right a, aside#left a {
    transition: all ease 0.2s;
    display: inline-block;
    margin: 3px;
    padding: 5px 10px;
    background: #fff;
    text-decoration: none;
    color: #999;
    border-bottom: 2px solid #e3e3e3;
    border-radius: 3px;
    font-size: 11pt;
}
aside#right a:hover, aside#left a:hover {
    background: #F3E3DD;
    color: #FF5E3A;
    border-bottom: 2px solid #ddcdc7;
}
aside#right{
    order: 2;
}
aside#left{
    order: 0;
}
aside#right, aside#left{
    width: 200px;
    background: #F2F2F0;
    display: block;
    padding: 20px;
}
/*content*/
/*section {*/
	/*display: inline-block;*/
	/*width: 48%;*/
    /*min-height: 300px;*/
	/*height: auto;*/
    /*background: #d3d3d3;*/
	/*border: 1px solid red;*/
/*}*/
#post-container{
    margin-bottom: 20px;
}
#add-comment-form textarea, .edit-comment-textarea{
    display: block;
    width: 100%;
    box-sizing: border-box;
    padding: 10px;
    outline: none;
    resize: none;
    border: none;
    background: #eee;
    border-bottom: 2px solid #ccc;
    height: 100px;
    font-family: Georgia, serif;
    font-size: 13pt;
    color: #666;
}
#add-comment-form textarea:focus, .edit-comment-textarea:focus{
    border-bottom-color: #c3c3c3;
    color: #333;
}
label{
    color: #888;
    font-size: 10pt;
    text-transform: uppercase;
}
#add-comment-form button, .save-edited-comment, #addPostForm #submit-post{
    display: block;
    margin-top: 10px;
    border: 0;
    background: #12accc;
    color: #fff;
    padding: 8px 10px;
    float: right;
    text-transform: uppercase;
    font-size: 9pt;
    border-bottom: 2px solid #129aba;
    outline: none;
    cursor: pointer;
}
.submitButton{
    margin-top: 10px;
    border: 0;
    background: #12accc;
    color: #fff;
    padding: 8px 10px;
    float: right;
    text-transform: uppercase;
    font-size: 9pt;
    border-bottom: 2px solid #129aba;
    outline: none;
    cursor: pointer;
}
.submitButton:hover{
    background: #12bdde;
}
.submitButton:active{
    background: #12a3c3;
}
#addPostForm #submit-post{
    width: auto;
}
.save-edited-comment{
    float: none;
}
.forgot-password{
    float: right;
    position: relative;
    top: 10px;
    text-decoration: none;
    color: #ffa751;
    text-transform: uppercase;
}
.forgot-password:hover{
    color: #db894b;
}
#rememberMe{
    position: relative;
    top: 2px;
    left: 3px;
}
#add-comment-form{
    margin-top: 30px;
}
#add-comment-form button:hover,  #addPostForm #submit-post:hover, #submit-registration:hover{
    background: #12bdde;
}
#add-comment-form button:active,  #addPostForm #submit-post:active, #submit-registration:active{
    background: #12a3c3;
}
.comment-container{
    margin: 15px 0;
}
.comment-container .date{
    color: #ccc;
    float: right;
}
.comment-container .author a{
    display: inline-block;
    margin-bottom: 5px;
    font-size: 12pt;
    color: #666;
    font-weight: bold;
    text-decoration: none;
}
.comment-container .author a:hover{
    text-decoration: underline;
}
.comment-container .content{
    color: #666;
    font-size: 10pt;
}
.comment-delete-btn, #delete-post-btn, .comment-edit-btn, #edit-post-btn{
    float: right;
    background: none;
    border: 0;
    padding: 0 5px;
    font-size: 8pt;
    cursor: pointer;
    color: #999;
    text-transform: uppercase;
}
.comment-delete-btn:hover, #delete-post-btn:hover, .comment-edit-btn:hover, #edit-post-btn:hover{
    text-decoration: underline;
}
.post .tags{
    margin-top: 20px;
}
.post .tag{
    border-radius: 0;
    font-size: 10pt;
    background: #666;
    display: inline-block;
    padding:0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 2px;
}
.post .tag a{
    color: #fff;
    display: inline-block;
    text-decoration: none;
    padding: 3px 6px;
}
.post .tag:hover{
    background: #888;
}
.post h3{
    margin: 0;
    float: left;
    font-weight: normal;
    font-size: 15pt;
    font-family: Georgia, serif;
    color: #999;
}
.post .date{
    float: right;
    font-size: 8pt;
    background: #eee;
    padding: 2px 4px;
    border-right: 3px solid #ccc;
    color: #999;
    margin: 0;
}
.post .author{
    float: left;
}
.post .author a{
    color: #333;
    font-size: 10pt;
    text-decoration: none;
}
.post .author a:hover{
    color: #999;
}
.post .author, .post .numberOfViews{
    color:#ccc;
    font-size: 10pt;
}
.post .numberOfViews{
    float: right;
}
.post {
    border-bottom: 3px dotted #ccc;
    margin-bottom: 15px;
    padding-bottom: 15px;
}
.postBody p{
    color:#666;
    font-style: italic;
    font-size: 10pt;
    margin-top: 10px;
}
.post .readMore{
    transition: all ease 0.2s;
    background: #ffcc00;
    padding: 5px 10px;
    text-transform: uppercase;
    text-decoration: none;
    border-bottom: 2px solid #e7ba00;
    color: #333;
    float: right;
}
.post .readMore:hover{
    background: #ffda10;
}
h1{
    font-size: 20pt;
    font-family: Georgia, serif;
    font-weight: normal;
    color: #666;
    margin-bottom: 15px;
    padding-bottom: 15px;
    box-sizing: border-box;
    border-bottom: 3px double #eee;
}
#addPostForm label, #addPostForm textarea, #addPostForm button, #addPostForm input{
    display: block;
    box-sizing: border-box;
    width: 100%;
}
#addPostForm textarea{
    height: 100px;
}
#addPostForm textarea, #addPostForm input, #addPostForm #tags-wrapper{
    padding: 10px;
    outline: none;
    resize: none;
    border: none;
    background: #eee;
    border-bottom: 2px solid #ccc;
    font-family: Georgia, serif;
    font-size: 13pt;
    color: #666;
}
input#username, #password{
    display: block;
    padding: 10px;
    outline: none;
    resize: none;
    border: none;
    background: #eee;
    border-bottom: 2px solid #ccc;
    font-family: Georgia, serif;
    font-size: 13pt;
    color: #666;
    width: 100%;
    box-sizing: border-box;
}
#submit-login, body #registration-form #submit-registration{
    display: block;
    margin-top: 10px;
    border: 0;
    background: #12accc;
    color: #fff;
    padding: 8px 10px;
    float: right;
    text-transform: uppercase;
    font-size: 9pt;
    border-bottom: 2px solid #129aba;
    outline: none;
    cursor: pointer;
}
#submit-registration:disabled{
    opacity: 0.4;
}
#registration-form label{
    display: block;
    margin-top: 10px;
}
#registration-form input {
    display: inline-block;
    padding: 10px;
    outline: none;
    resize: none;
    border: none;
    background: #eee;
    border-bottom: 2px solid #ccc;
    font-family: Georgia, serif;
    font-size: 13pt;
    color: #666;
    width: 100%;
    box-sizing: border-box;
}
#registration-form .validation{
    float: right;
    font-family: GlyphIcons;
}
#registration-form .passed{
    color: #aade69;
}
#registration-form .passed:before{
    content: '\e013';
}
#registration-form .fail{
    color: #ff7e5b;
}
#registration-form .fail:before{
    content: '\e014';
}
.textField {
    display: block;
    padding: 10px;
    width: 100%;
    box-sizing: border-box;
    outline: none;
    resize: none;
    border: none;
    background: #eee;
    border-bottom: 2px solid #ccc;
    font-family: Georgia, serif;
    font-size: 13pt;
    color: #666;
}
.clear:after{
    content: '';
    display: block;
    clear: both;
    zoom: 1;
}
.user-profile div > span:nth-of-type(1){
    color: #888;
    font-size: 10pt;
    text-transform: uppercase;
}
.user-profile div > span:nth-of-type(2){
    color: #333;
    font-family: Georgia, serif;
    font-size: 12pt;
}
#pageNotFound h1{
    font-size: 100pt;
    color: #666;
    text-shadow: 3px 2px 0 #eee;
    font-family: Roboto, serif;
    border-bottom: none;
    /*font-style: italic;*/
}
#pageNotFound{
    padding-top: 40px;
    text-align: center;
}
#pageNotFound p{
    padding: 20px 0;
    border-top: 3px double #eee;
    display: inline-block;
    color: #ccc;
    font-family: Georgia, serif;
    font-size: 12pt;
}
/*footer*/
footer {
    padding: 20px 0 75px 0;
    text-align: center;
    color: #111;
}
footer p {
    font-family: Georgia, serif;
    text-align: center;
    font-size: 15pt;
    color: #555;
}
footer a {
    color: #999;
    text-decoration: none;
}
footer a:hover{
    color: #ffcc00;
}

#submit-registration:enabled {
	color: green;
	margin: 5px;
	padding: 5px;
	border: 2px solid green;
	background: none;
	outline: none;
}

input {
	padding: 5px;
	margin-bottom: 5px;
	margin-right: 5px;
	outline: none;
}

span {
	color: white;
}

#submit-registration:disabled {
	color: white;
	margin: 5px;
	padding: 5px;
	border: 2px solid white;
	background: none;
	outline: none;
}

#tags-wrapper{
    border: 1px solid #ccc;
    background: #eee;
    padding: 5px;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
#tags-wrapper input{
    background: #eee;
    flex-grow: 1;
    width: auto;
    font-size: 10pt;
    border:0;
    margin:0;
}
.tag{
    background: #fff;
    padding: 5px 26px 5px 5px;
    border: #999;
    font-size: 10pt;
    font-family: Georgia, serif;
    color: #333;
    border-bottom: 2px solid #e3e3e3;
    margin: 5px 5px 5px 0;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    max-width: 100px;
    max-height: 20px;
    box-sizing: content-box;
    word-wrap: break-word;
    position:relative;
}
#tags-wrapper .tag .deleteTag{
    font-family: 'GlyphIcons';
    /*border-radius: 50%;*/
    /*padding: 0 4px 4px 4px;*/
    padding: 5px;
    line-height: 13px;
    margin-left: 3px;
    font-weight: bold;
    cursor: pointer;
    position: absolute;
    right: 0;
    top:0;
    color: #fff;
    background: #ff9984;
}
.deleteTag:before{
    font-size: 7pt;
    content: '\e014';
}
#content{
    width: 100%;
}
#tags-wrapper .tag .deleteTag:hover{
    background: #f28c79;
}


.not-found-url {
    color: red;
}

.limiter{
    max-width: 955px;
    margin: 0 auto;
}
/*responsive design*/
@media (max-width: 955px) {
    div#wrapper {
        width: 100%;
        margin-top: 10px;
    }
    header{
        position: static;
    }
}
@media (max-width: 800px){
    div#wrapper{
        display: block;
    }
    #main {
        width: 70%;
        padding: 5px;
        margin: 0;
        float: right;
    }
    aside#right{
        float: none;
        width: 30%;
    }
    aside#left{
        float: left;
        width: 30%;
    }
}
@media (max-width: 700px){

    #main-menu{
        text-align: center;
    }

    #main-menu ul li a{
        padding-left:10px;
        padding-right:10px;
    }
    div#wrapper{
        display: flex;
        flex-wrap: wrap;
    }
    div#wrapper #main{
        min-width: 100%;
        box-sizing: border-box;
        order: 0;
        margin:0;
        padding: 5px;
        float: none;
    }
    div#wrapper #left{
        order: 1;
        width: 50%;
    }
    div#wrapper #left li {
        display: inline-block;
    }
    div#wrapper #right{
        order: 2;
        width: 50%;
    }
}
@media (max-width: 450px){
    #main-menu ul li{
        display: block;
    }
    #logo{
        margin: 0 auto;
    }
    #greeting{
        float: none;
        display: block;
        text-align: center;
    }
    #main-menu ul li, #main-menu ul, #main-menu{
        width: 100%;
    }
    #main-menu ul li a .icon{
        float: left;
    }
    #main-menu ul li a{
        display: block;
        text-align: center;
        width: 100%;
    }
    div#wrapper #main{
        width: 100%;
        order: 0;
    }
    div#wrapper #left{
        order: 2;
        width: 100%;
    }
    div#wrapper #right{
        order: 1;
        width: 100%;
    }
}
/* Registration Styling*/
form, h2 {
    color: white;
}

fieldset {
    border: 2px solid white;
    margin: 5px;
}


@media (max-width: 600px){
    body header .limiter{
        display: block;
    }
}