<div id="user-profile" xmlns="http://www.w3.org/1999/html">
    <h1>User Profile:</h1>
    <div id="username">
        <span>Username: </span>
        <span>{{username}}</span>
    </div>

    <div id="firstName">
        <span>First name: </span>
        <input type="text" class="edit-firstname-input" value="{{firstName}}"/>
    </div>

    <div id="lastName">
        <span>Last name: </span>
        <input type="text" class="edit-lastname-input" value="{{lastName}}"/>
    </div>

    <div id="E-mail">
        <span>e-mail: </span>
        <input type="text" class="edit-email-input" value="{{email}}"/>
    </div>

    <div id="registration-date">
        <span>Registration date: </span>
        <span>{{createdAt}}</span>
    </div>
    <button class="save-edited-profile">Save</button>
</div>