<div id="loginForm" class="clear">
    <h1>Login<a href="#/forgotPassword" class="forgot-password">Forgot password</a></h1>
        <br /><label for="username">Username: </label>
        <input type="text" name="username" id="username" /><br />
        <label for="password">Password: </label>
        <input type="password" name="password" id="password" /><br />
        <input type="checkbox" name="rememberMe" id="rememberMe" />
        <label for="rememberMe">Remember me</label><br />
        <button id="submit-login">Log in</button>
</div>