<div class="post clear" id="post-container" data-id="{{id}}">
    <div class="clear">
        <h3>{{title}}</h3>
        <div class="date">{{date}}</div>
    </div>
    <div class="clear">
        <p>Author: </p><a class="author" href="#/user/{{author.objectId}}">{{author.username}}</a>
        <span class="numberOfViews">Number of views: {{visits}}</span>
        <button id="edit-post-btn">edit</button>
        <button id="delete-post-btn">delete</button>
    </div>
    <div class="postBody">
        <p>{{body}}</p>
    </div>
    <div class="tags">
        {{#tags}}
        <span class="tag"><a href="#/view-post-by-tag/{{tagId.objectId}}">#{{tagId.tagName}}</a></span>
        {{/tags}}
    </div>
</div>
<div id="comments-container">
</div>
<div id="add-comment-form" class="clear">
    <div><label for="comment-content">Leave comment</label></div>
    <textarea id="comment-content" placeholder="Your comment..."></textarea>
    <button id="submit-comment">Add Comment</button>
</div>
