<div class="post clear" id="post-container" data-id="{{id}}">
    <div class="clear">
        <h3>{{title}}</h3>
        <div class="date">{{date}}</div>
    </div>
    <div class="clear">
        <span class="author">Author: {{author}}</span>
        <span class="numberOfViews">Number of views: {{visits}}</span>
    </div>
    <div class="postBody">
        <p>{{body}}</p>
    </div>
    <div class="tags">
        {{#tags}}
        <span class="tag"><a href="#/view-post-by-tag/{{tagId.objectId}}">#{{tagId.tagName}}</a></span>
        {{/tags}}
    </div>
</div>
<div id="comments-container">
</div>
<div id="add-comment-form">
    <label for="comment-content">Leave comment</label>
    <textarea id="comment-content" placeholder="your comment..."></textarea>
    <button id="submit-comment">Add Comment</button>
</div>
