{{#posts}}
<div class="post clear" id={{id}}>
    <div class="clear">
        <h3>{{title}}</h3>
        <div class="date">{{date}}</div>
    </div>
    <div class="clear">
        <span class="author">Author: {{author}}</span>
        <span class="numberOfViews">Number of views: {{visits}}</span>
    </div>
    <div class="postBody">
        <p>{{body}}</p>
    </div>
    <div class="tags">
        <p>{{tags}}</p>
    </div>
    <a class="readMore" href="#/view-post/{{id}}">Read more..</a>
</div>
{{/posts}}