<div id="user-profile">
    <h1>User Profile:</h1>
    <div id="username">
        <span>Username: </span>
        <span>{{username}}</span>
    </div>

    <div id="firstName">
        <span>First name: </span>
        <span>{{firstName}}</span>
    </div>

    <div id="lastName">
        <span>Last name: </span>
        <span>{{lastName}}</span>
    </div>

    <div id="E-mail">
        <span>e-mail: </span>
        <span>{{email}}</span>
    </div>

    <div id="registration-date">
        <span>Registration date: </span>
        <span>{{createdAt}}</span>
    </div>

</div>
