
<div class="user-profile" id="{{objectId}}">
    <h1>User Profile:</h1>
    <div>
        <span>Username: </span>
        <span  id="username">{{username}}</span>
    </div>

    <div>
        <span>First name: </span>
        <span id="firstName">{{firstName}}</span>
    </div>

    <div>
        <span>Last name: </span>
        <span id="lastName">{{lastName}}</span>
    </div>

    <div>
        <span>e-mail: </span>
        <span id="e-mail">{{email}}</span>
    </div>

    <div>
        <span>Registration date: </span>
        <span id="registration-date">{{createdAt}}</span>
    </div>
    {{#allowedToEdit}}
    <button class="profile-edit-btn submitButton">Edit Profile</button>
    {{/allowedToEdit}}
</div>
