<form id="registration-form">
    <hgroup>
        <h2>Registration</h2>
    </hgroup>
    <fieldset>
        <label for="register-user-name">User name *</label>
        <br/>
        <input type="text" id="register-user-name"/><span class="validation"></span>
        <br/>
        <label for="register-password">Password *</label>
        <br/>
        <input type="password" id="register-password"/><span class="validation"></span>
        <br/>
        <label for="repeat-password">Repeat password *</label>
        <br/>
        <input type="password" id="repeat-password"/><span class="validation"></span>
        <br/>
        <label for="register-email">Email *</label>
        <br/>
        <input type="email" id="register-email"/><span class="validation"></span>
        <br/>
        <label for="register-first-name">First name *</label>
        <br/>
        <input type="text" id="register-first-name"/><span class="validation"></span>
        <br/>
        <label for="register-last-name">Last name *</label>
        <br/>
        <input type="text" id="register-last-name"/><span class="validation"></span>
        <br/>
    </fieldset>
    <button id="submit-registration" type="button" disabled="disabled">Submit</button>
</form>