<form id="registration-form">
    <h1>Registration</h1>
    <label for="register-user-name">User name *<span class="validation"></span></label>
    <input type="text" id="register-user-name"/>
    <label for="register-password">Password *<span class="validation"></span></label>
    <input type="password" id="register-password"/>
    <label for="repeat-password">Repeat password *<span class="validation"></span></label>
    <input type="password" id="repeat-password"/>
    <label for="register-email">Email *<span class="validation"></span></label>
    <input type="email" id="register-email"/>
    <label for="register-first-name">First name *<span class="validation"></span></label>
    <input type="text" id="register-first-name"/>
    <label for="register-last-name">Last name *<span class="validation"></span></label>
    <input type="text" id="register-last-name"/>
    <button id="submit-registration" type="button" disabled="disabled">Register</button>
</form>